body{
	background-color: lightgray;
	margin: 0 15%;
}
		
h1{
	color: green;
	border-bottom:2px dashed gray;
}

p{
	font-weight:bold;
	background-color : #bdbdbd;
	padding: 10px;
}

form{
	
}

form input[type="submit"]{
	height:40px;
	width: fit-content;
	padding: 10px;
	margin: 5px;
	border-radius:20px;	
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 61%, rgba(116,116,116,1) 100%);
}

form input[type="submit"]:hover{
	background-color:lightgray;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 80%, rgba(116,116,116,1) 100%);
}

form label{
	width: 100px;
	display:inline-block;
	margin:5px;
}

fieldset{
	border-color: blue;
	width:fit-content;
}

fieldset legend{
	font-weight:bold;
}